body {
    cursor: none;
  }
  
  @media (max-width: 768px) {
    body {
      cursor: auto;
    }
  }
  
  a, button, [role="button"] {
    cursor: none;
  }
  
  @media (max-width: 768px) {
    a, button, [role="button"] {
      cursor: pointer;
    }
  }