@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee-ltr {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-marquee-ltr {
  display: inline-flex;
  animation: marquee-ltr 40s linear infinite;
  will-change: transform; /* Optimizes animation for smooth performance */
}
